.pricing__title {
    position: relative;
    width: 205px;
    height: 37px;
    color: #130e27;
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
    letter-spacing: -1px;