.gallery__author {
    width: 287px;
    height: 19px;
    color: #130e27;
    font-family: Montserrat;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.4px;
    margin: 23px 0px 0px 0px;
}